<a href={{ link }} style="color: #fff!important; font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box;display: inline-block;min-height: 36px;padding: 12px 24px;margin: 0 0 24px;font-size: 16px;font-weight: 600;line-height: 22px;text-align: center;white-space: nowrap;vertical-align: middle;border: 0;border-radius: 3px;background-color: #00b9ff;text-decoration: none;">
    @!yield($slots.main())
</a>