<a href={{ link }} style="color: #00b9ff!important; font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px;line-height: 16px; text-align: left;word-wrap: break-word;word-break: break-all;">
    @!yield($slots.main())
</a>