<p style="color: #5d7079; font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; letter-spacing: 0.4px; text-align: left;">
    @!yield($slots.main())
</p>